//<script type="text/jsx">

function Header() {
  return (
    <div className="shadow-2xl p-5">
        <h2 className="text-blue-500 font-bold text-2xl mb-3">Sector Router</h2>        
        <NavLink exact activeClassName="bg-blue-500" className="mr-3 px-3 py-1 bg-blue-700 text-white rounded-2xl" to="/">Inicio</NavLink>
        <NavLink exact activeClassName="bg-blue-500" className="mr-3 px-3 py-1 bg-blue-700 text-white rounded-2xl" to="/FormRegistre">Formato Registro</NavLink>
    </div>
  )
}


// </script>