//<script type="text/jsx">

function FormRegistre() {

    const guardarRegistro = (datosForm) => {
        console.log(datosForm);
    }

  return (
    <div className="px-20">
        <h2 className="text-center font-bold text-xl my-6">Formulario Registro</h2>
        <Form onFinish={guardarRegistro} layout="vertical">
            <Item name="nombreCompleto" label="Nombre Completo" rules={[
                { required: true, message: "El campo de nombre es requerido"}]}>
                <Input />
            </Item>
            <Item name="correo" label="Correo" rules={[
                { type: "email", message: "El formato no es valido" },
                { required: true, message: "El campo de correo es requerido"}]}>
                <Input />
            </Item>
            <Item name="password" label="Password" rules={[
                { required: true, message: "El campo password es requerido"}]}>
                <Password />
            </Item>
            <Item  className="text-center">
                <Button htmlType="submit">Guardar</Button>
            </Item>
        </Form>
    </div>
  )
}

//</script>